<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.empr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity android:name=".author.PdfListAdmin"></activity>
        <activity android:name=".author.PdfEditActivity" />
        <activity android:name=".author.CategoryAddActivity" />
        <activity android:name=".author.AuthorHome" />
        <activity android:name=".reader.ReaderHome" />
        <activity android:name=".reader.ReaderRegister" />
        <activity android:name=".reader.ReaderLogin" />
        <activity android:name=".author.AuthorRegister" />
        <activity android:name=".author.AuthorLogin" />
        <activity android:name=".RegisterAs" />
        <activity android:name=".LogInAs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>